{{! user-table template }}
{{yield}}

<div class="user-table" style='width:100%'>

  <table style='width:100%'>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    {{#each users as |user|}}
      <tr>
        <td>
          {{#if isUpdating}}
            {{text-input
              value='updated.name'
              defaultValue=user.name
              placeholder='name'
              onChange=(mut updatedUser.name)
            }}
          {{else}}
            {{user.name}}
          {{/if}}

        </td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>
          <span class="remove pointer" onclick={{action-creator 'users.remove' user.id}}>⌫</span>
        </td>
      </tr>

    {{else}}
      <tr>
        <td colspan="3" class="dim vertical-pad">
          There are currently no users currently in the system
        </td>
      </tr>
    {{/each}}
  </table>

</div>

